body {
  margin:0;
  padding:0;
  background-color: #1c1c1c;
  overflow: hidden;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */
.pipeline-metrics-card-body{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;  
}

.pipelineNew-btn-grad {
  background-image: linear-gradient(to right, #fe8c00 0%, #f83600  51%, #fe8c00  100%);
  margin: 10px 0px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.pipelineNew-btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.tableAction-logs-icon {
  color: white;
}

.tableAction-execute-icon {
  color: white;
}

.tableAction-logs-icon:hover {
  color: rgb(241, 196, 72);
  cursor: pointer;
}

.tableAction-execute-icon:hover {
  color: rgb(13, 174, 88);
  cursor: pointer;
}

#components-form-demo-control-ref .ant-btn {
  margin-right: 8px;
}

.pipeline-name-div{
  background: 
        linear-gradient(#1c1c1c, #1c1c1c) padding-box,
        linear-gradient(to right, #fe8c00 0%, #f83600  51%, #fe8c00  100%) border-box;
  color: white;
  border: 2px solid transparent;
  pointer-events: none;
  font-weight: 300;
}

.react-flow__node-draftNode {
  display: flex;
  height: 70px;
  width: Auto;
  font-family: 'Fira Mono', Monospace;
  font-weight: 500;
  letter-spacing: -0.2px;
  font-size: 10px;
  background: #eee;
  border: 3px solid #858585;
  color: #858585;
  border-radius: 15px;
  text-align: center;
}

.react-flow__node-configuredNode {
  display: flex;
  height: 70px;
  width: Auto;
  font-family: 'Fira Mono', Monospace;
  font-weight: 500;
  letter-spacing: -0.2px;
  font-size: 10px;
  background: #eee;
  border: 3px solid #d3d300;
  color: #d3d300;
  border-radius: 15px;
  text-align: center;
}

.react-flow__node-successNode {
  display: flex;
  height: 70px;
  width: Auto;
  font-family: 'Fira Mono', Monospace;
  font-weight: 500;
  letter-spacing: -0.2px;
  font-size: 10px;
  background: #eee;
  border: 3px solid #009f0b;
  color: #009f0b;
  border-radius: 15px;
  text-align: center;
}

.react-flow__node-failNode {
  display: flex;
  height: 70px;
  width: Auto;
  font-family: 'Fira Mono', Monospace;
  font-weight: 500;
  letter-spacing: -0.2px;
  font-size: 10px;
  background: #eee;
  border: 3px solid #cb0000;
  color: #cb0000;
  border-radius: 15px;
  text-align: center;
}